{% extends 'layout.html' %}
{% block content %}
<div class="mt-4 pt-4">
<h1>Mitumba-Avache</h1>
<p>
     Mitumba-Avache, is an Application aimed at benefitting both the sellers and buyers of second hand clothes.
     Sellers are able to create their profiles and post their relevant details in their profile pages.
     That is, their field of focus, that is, what they deal with and their contact info on how they can be reached at.
</p>
<h2>What we Deal with</h2>
     <p>
        We deal with all types of second hand clothes. All whats needed, is for you as a seller to create a profile Explaining on what you deal with. Then, in the comments section, buyers get to comment, and say if they would love your products,. And if so, they can contact you.
        Also, for buyers, incase you feel that whatever you need there is no one who has posted, Under posts, you can post what you want and then we can try connecting you to potential sellers.   
    </p>
</div>

{% endblock content %}